/* && Сброс стилей */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg:not(.MuiRating-icon svg) {
  display: block;
  max-width: 100%;
}

/* Добавим специальные стили для иконок рейтинга */
.MuiRating-icon svg {
  display: inline-block;
  width: 1em;
  height: 1em;
}

input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

html {
  overflow-x: hidden;
  scroll-behavior: fixed !important;
}